body {
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

#row {
    margin: 0px;
}

.row::after {
    display: table;
    content: '';
    clear: both;
}

/*HEADERPANEL*/

#headerName {
    margin-left: 15px;
    font-size: 2rem;
    padding: 12px 0;
}

body .myheader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #101010;
    align-items: center;
    color: #9d9d9d;
}

.myheader a {
    padding: 18px 7px;
    color: #9d9d9d;
    text-decoration: none;
}

header > div > ul > li > a:hover {
    color: #ffffff;
    text-decoration: none;
}

#adminNav {
    display: none;
}

    #adminNav > ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin-right: 10px;
    }

#menuIcon {
    cursor: pointer;
    margin-right: 15px;
    display: block;
}

    #menuIcon > i {
        font-size: 20px;
    }

/*BODYPANEL*/
body .sidemenu .active {
    color: #ffffff;
    background: #428bca;
}

.content {
    background: #FAFAFA;
    padding-top: 20px;
}

.sidemenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .sidemenu li:hover {
        background: #F1F1F1;
    }
/*.sidemenu li a:hover {
    color: #164167;
}*/
.active {
    color: #ffffff;
    background: #428bca;
}

.sidemenu li a {
    cursor: pointer;
    display: block;
    padding: 12px 25px;
    text-decoration: none;
    color: #337ab7;
}
/*RIGHTPANEL*/

.menucontent {
    display: none;
}

#addNewTourTab {
    display: block;
}

.rightpanel, .dataBody {
    padding: 10px 25px;
}

    .rightpanel h2, .dataBody h3 {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        font-weight: 500;
        line-height: 1;
        color: inherit;
        font-size: 2.4rem;
    }

#selectBox {
    padding: 10px 10px;
}

.settingforPrice {
    padding-right: 20px;
}

#contentPanel {
    padding: 0 10px;
    margin-top: 10px;
    font-size: 12px;
}

#ratingSelect {
    font-size: 17px;
    text-align: left;
}

#inputPrice {
    width: 100px;
    font-size: 12px;
}

#textareaDescription {
    width: 600px;
    height: 50px;
}

#CountryTab, #TownTab, #HotelTab {
    margin-top: 20px;
}

    #CountryTab > div > label, #TownTab > div > label, #HotelTab > div > label {
        margin-left: 15px;
    }

    #CountryTab > div > input, #TownTab > div > input, #HotelTab > div > input {
        margin-left: 5px;
    }

.btnWrap {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
}

.mybtn {
    border: none;
    color: white;
    padding: 6px 14px;
    font-size: 14px;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
    border-radius: 3px;
    margin-right: 10px;
}

.defaultBtn {
    background-color: #e7e7e7;
    color: black;
}

    .defaultBtn:hover {
        background: #428bca;
        color: #fff;
    }

.success {
    background-color: #4CAF50;
}

    .success:hover {
        background-color: #46a049;
    }

.danger {
    background-color: #f44336;
}

    .danger:hover {
        background: #da190b;
    }



/*DATA TABLE*/
tr:nth-child(even) {
    background-color: #f2f2f2
}

.dataBody h3 {
    font-size: 2rem;
}

#dataBody {
    float: right;
}

.dataBody .fa-trash-o {
    margin-left: 10%;
}

.dataBody .table-responsive {
    padding-left: 2%;
}

.filterPanel {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}


/*@media only screen and (max-width: 600px) {
	.mainmenu {
		display: none;
	}
	.image img {
	max-width: 330px;
	height: auto;
    }
}*/


#selectBox {
    position: relative;
}

.labelSelectBox {
    width: 100px;
}

#userInputCountry, #userInputTown, #userInputHotel {
    box-sizing: border-box;
    background-image: url(../Content/search_icon24.png);
    background-position: 8px 6px;
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 8px 15px 8px 40px;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    outline: none;
}

.dropdown-contentC, .dropdown-contentT, .dropdown-contentH {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    border-radius: 2px;
}

    .dropdown-contentC a, .dropdown-contentT a, .dropdown-contentH a {
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
    }

        .dropdown-contentC a:hover, .dropdown-contentT a:hover, .dropdown-contentH a:hover {
            background-color: #ddd;
            text-decoration: none;
        }

.showHide {
    display: block;
}


[class*="col-"] {
    width: 100%;
    float: left;
}

@media only screen and (max-width: 420px) {

    #adminNav {
        position: absolute;
        display: none;
        right: 1px;
        top: 35px;
        z-index: 1;
    }

        #adminNav > ul {
            background: red;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            list-style: none;
            padding: 0;
        }

            #adminNav > ul > li > a {
                background: #1E1E1E;
                display: block;
                padding: 12px 40px;
            }
}

@media only screen and (min-width: 420px) {

    #menuIcon {
        display: none;
    }

    #adminNav {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    #userInputCountry, #userInputTown, #userInputHotel {
        width: 300px;
    }

    #textareaDescription {
        width: 400px;
        height: 50px;
    }
}

@media only screen and (max-width: 490px) {

    #textareaDescription {
        width: 300px;
        height: 50px;
    }
}

@media only screen and (min-width: 600px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

    #userInputCountry, #userInputTown, #userInputHotel {
        width: 350px;
    }

    #textareaDescription {
        width: 350px;
        height: 50px;
    }
}

@media only screen and (min-width: 714px) {
    #textareaDescription {
        width: 450px;
        height: 50px;
    }
}


@media only screen and (min-width: 900px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .dataBody .table-responsive {
        border-left: 1px solid #eee;
    }

    #userInputCountry, #userInputTown, #userInputHotel {
        width: 220px;
    }

    .filterPanel {
        border-bottom: 0;
    }

    #textareaDescription {
        width: 450px;
        height: 50px;
    }
}

@media only screen and (min-width: 1100px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }


    #userInputCountry, #userInputTown, #userInputHotel {
        width: 270px;
    }
}
