@{
    ViewBag.Title = "Home Page";
}

<div class="dataSection">
    <h3>Data table</h3>
    <div class="col-2 col-m-12 filterPanel">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, eos accusantium quisquam fuga veritatis obcaecati necessitatibus atque quos maiores aliquam.
    </div>
    <div class="col-10 col-m-12 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Country</th>
                    <th>Town</th>
                    <th>Hotel</th>
                    <th>Rating</th>
                    <th>Price</th>
                    <th>Details</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" data-id="1">
                    </td>
                    <td>Germany</td>
                    <td>Kronensberg</td>
                    <td>"Red Dot"</td>
                    <td>5</td>
                    <td>475 $</td>
                    <td><a href="">more</a></td>
                    <td>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" data-id="1">
                    </td>
                    <td>Germany</td>
                    <td>Kronensberg</td>
                    <td>"Red Dot"</td>
                    <td>5</td>
                    <td>475 $</td>
                    <td><a href="">more</a></td>
                    <td>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" data-id="1">
                    </td>
                    <td>Germany</td>
                    <td>Kronensberg</td>
                    <td>"Red Dot"</td>
                    <td>5</td>
                    <td>475 $</td>
                    <td><a href="">more</a></td>
                    <td>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>